@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Madurai:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
}
.container .navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 64px;
  background-color: #F0F3BD;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 1px 3px 3px #e9e9e9;
}
.container .navbar .site-logo {
  color: #023684;
  display: flex;
  flex-direction: column;
}
.container .navbar .site-logo img {
  width: 250px;
}
.container .navbar .site-logo .original-logo {
  display: block;
}
.container .navbar .site-logo .white-logo {
  display: none;
}
.container .navbar #menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10000;
}
.container .navbar #menu-toggle-btn span {
  height: 2px;
  background-color: #313131;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
}
.container .navbar #menu-toggle-btn span::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 2px;
  background: #313131;
  transform: translateY(-4px);
  width: 24px;
  transition: all 0.3s;
  top: -2px;
}
.container .navbar #menu-toggle-btn .active span {
  transform: rotate(45deg);
  background: #ffffff;
}
.container .navbar #menu-toggle-btn .active span {
  top: unset;
  transform: rotate(-90deg);
  background: #ffffff;
}
.container .navbar #menu-toggle-btn .active:hover span::before {
  top: unset;
}
.container .navbar.active {
  background-color: #000000;
}
.container .nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  color: #ffffff;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 10;
}
.container .nav-container .nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.container .nav-container .nav .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container .nav-container .nav .nav-logo {
  font-family: 300;
  margin-top: -0.2em;
  text-transform: uppercase;
  font-size: 120px;
}
.container .nav-container .nav .col .nav-link {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.container .nav-container .nav .col .nav-item-wrapper:after {
  content: "";
  position: relative;
  top: 60px;
  left: 0;
  width: 500px;
  height: 60px;
  background: #313131;
  margin: 0 auto;
  transition: 1s;
}
.container .nav-container .nav .col .nav-link a {
  position: relative;
  top: 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  cursor: pointer;
}
.container .nav-container .nav .col .nav-socials a {
  color: #ffffff;
  text-decoration: none;
  flex-direction: column;
  display: flex;
  margin-top: 8px;
}
.container .nav-container.active {
  visibility: visible;
}
.container .nav-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}
.container .nav-footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 0 1em;
}

.hero {
  padding: 0 64px;
  height: 100vh;
  display: flex;
  z-index: -10000;
}
.hero .bigText {
  max-width: 20%;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  top: 25%;
  z-index: 0;
}
.hero .bigText .text {
  font-size: 140px;
  rotate: -90deg;
  font-family: "Bungee", sans-serif;
  color: #006D77;
}
.hero .rightSide {
  width: 80%;
  z-index: 0;
}
.hero .rightSide .owl-carousel .item {
  background-color: #313131;
  margin-top: 34px;
  max-height: 450px;
  border-radius: 0 50px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .rightSide .owl-carousel .item img {
  border-radius: 0 50px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.heroAbout {
  margin-top: 24px;
  display: flex;
}
.heroAbout .about {
  width: 50%;
  background-color: #F0F3BD;
  height: auto;
  padding: 20px;
  border-radius: 0 0 40px 40px;
}
.heroAbout .about h3 {
  max-width: 60%;
  color: #023684;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 30px;
}
.heroAbout .about p {
  margin-top: 8px;
  max-width: 80%;
  line-height: 24px;
  color: #023684;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 20px;
}
.heroAbout .links {
  margin-left: 16px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 50%;
}
.heroAbout .links .LinkOne {
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: #023684;
  width: 100%;
  border-radius: 0 0 40px 40px;
  padding: 15px;
}
.heroAbout .links .LinkOne:hover {
  background-color: #000000;
  transition: all 0.5s;
  color: #ffffff;
}
.heroAbout .links .LinkOne:hover .top {
  color: white;
}
.heroAbout .links .LinkOne .top {
  display: flex;
  justify-content: space-between;
}
.heroAbout .links .LinkOne .top .empty {
  color: #023684;
}
.heroAbout .links .LinkOne .top .number p {
  font-size: 30px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #ffffff;
}
.heroAbout .links .LinkOne .mid {
  margin-top: 48px;
}
.heroAbout .links .LinkOne .mid p {
  font-size: 30px;
  color: #ffffff;
}
.heroAbout .links .LinkOne .btm {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 24px;
}

.aboutMain {
  max-height: 900px;
  height: 900px;
  background-color: #F0F3BD;
  color: #023684;
  border-radius: 50px 0 0 0;
  padding: 128px 256px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.aboutMain h2 {
  font-size: 50px;
  max-width: 55%;
}
.aboutMain p {
  margin-top: 32px;
  line-height: 26px;
  font-size: 20px;
}
.aboutMain .videoText {
  display: flex;
  align-items: center;
}
.aboutMain .videoText .videoIcon {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.aboutMain .videoText .text {
  margin-left: 32px;
  font-weight: 500;
  cursor: pointer;
}

.newsMain {
  background-color: #006D77;
  max-height: 700px;
  height: 1000px;
  margin-top: -128px;
  border-radius: 0 100px 0 0px;
  padding: 128px 256px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.newsMain h2 {
  font-size: 50px;
  max-width: 55%;
  color: #ffffff;
}
.newsMain .news {
  margin-top: 64px;
}
.newsMain .news ul {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.newsMain .news ul li {
  list-style: none;
  padding: 15px;
  height: auto;
  border-radius: 25px;
  width: 20%;
  min-height: 150px;
  background-color: #ffffff;
  cursor: pointer;
}
.newsMain .news ul li h4 {
  font-size: 30px;
}
.newsMain .news ul li p {
  margin-top: 64px;
}
.newsMain .news ul li:hover {
  background-color: #F0F3BD;
  color: #023684;
  transition: all 0.5s;
}
.newsMain .link {
  display: flex;
  align-items: center;
  margin-top: 64px;
}
.newsMain .link .videoIcon {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.newsMain .link .text {
  margin-left: 32px;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.features {
  margin-top: 64px;
}
.features h2 {
  padding: 0 256px;
  margin-top: 64px;
  font-size: 30px;
  color: #023684;
  font-family: "Fira Sans Condensed", sans-serif;
}
.features .featuresOne {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.features .featuresOne .fLeft {
  width: 60%;
}
.features .featuresOne .fLeft .featureOneImg {
  margin-top: 32px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 80px 0;
}
.features .featuresOne .fRight {
  width: 40%;
  padding: 0 128px;
}
.features .featuresOne .fRight h5 {
  color: #023684;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: 24px;
  font-size: 25px;
}
.features .featuresOne .fRight p {
  margin-top: 32px;
  font-family: "Hind Siliguri", sans-serif;
}
.features .featuresOne .fRight .link {
  margin-top: 128px;
  display: flex;
  align-items: center;
}
.features .featuresOne .fRight .link .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #023684;
  width: 50px;
  height: 50px;
  fill: white;
  stroke: white;
  border-radius: 50px;
}
.features .featuresOne .fRight .link .text {
  margin-left: 32px;
  font-size: 20px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.features .featuresTwo {
  margin-top: 64px;
  display: flex;
  gap: 16px;
}
.features .featuresTwo .fLeft {
  width: 60%;
}
.features .featuresTwo .fLeft .featureOneImg {
  margin-top: 32px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 0 80px;
}
.features .featuresTwo .fRight {
  width: 40%;
  padding: 0 128px;
}
.features .featuresTwo .fRight h5 {
  color: #023684;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: 24px;
  font-size: 25px;
}
.features .featuresTwo .fRight p {
  margin-top: 32px;
  font-family: "Hind Siliguri", sans-serif;
}
.features .featuresTwo .fRight .link {
  margin-top: 128px;
  display: flex;
  align-items: center;
}
.features .featuresTwo .fRight .link .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #023684;
  width: 50px;
  height: 50px;
  fill: white;
  stroke: white;
  border-radius: 50px;
}
.features .featuresTwo .fRight .link .text {
  margin-left: 32px;
  font-size: 20px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.activitiesContainer {
  background-color: #F0F3BD;
  padding: 128px;
  margin-top: 128px;
  font-family: "Fira Sans Condensed", sans-serif;
  border-radius: 100px 0 100px 0;
}
.activitiesContainer h2 {
  margin-top: 64px;
  font-size: 30px;
  color: #023684;
}
.activitiesContainer ul {
  display: flex;
  justify-content: space-between;
}
.activitiesContainer ul li {
  margin-top: 32px;
  list-style: none;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 70px 0 70px 0;
  text-align: center;
  cursor: pointer;
}
.activitiesContainer ul li img {
  margin-top: 32px;
}
.activitiesContainer ul li p {
  margin-top: 32px;
  margin-bottom: 32px;
}
.activitiesContainer ul li:hover {
  background-color: #F0F3BD;
  border: 1px solid #023684;
  transition: all 0.5s;
  box-shadow: 5px 5px 15px rgb(195, 195, 255);
}

.galleryContainer {
  padding: 128px;
  /* Main CSS */
}
.galleryContainer h2 {
  color: #023684;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  margin-top: 24px;
  padding: 64px;
  font-size: 25px;
}
.galleryContainer img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.galleryContainer .grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.galleryContainer .grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.galleryContainer .grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.galleryContainer .grid-wrapper .wide {
  grid-column: span 2;
}
.galleryContainer .grid-wrapper .tall {
  grid-row: span 2;
}
.galleryContainer .grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.footerContainer {
  width: 100%;
  font-family: "Hind Madurai", sans-serif;
  border-radius: 50px;
}
.footerContainer .footerContainerTop {
  border-radius: 50px 50px 0 0;
  padding: 64px;
  margin-top: 128px;
  background-color: #006D77;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
.footerContainer .footerContainerTop .footerIconandText {
  width: 350px;
}
.footerContainer .footerContainerTop .footerIconandText p {
  margin-top: 16px;
  font-size: 12px;
  line-height: 20px;
}
.footerContainer .footerContainerTop .footerLinkSectionOne p {
  font-family: 800;
  font-size: 25px;
}
.footerContainer .footerContainerTop .footerLinkSectionOne ul {
  padding: 0;
}
.footerContainer .footerContainerTop .footerLinkSectionOne li {
  list-style: none;
  cursor: pointer;
  margin-top: 8px;
  font-size: 12px;
}
.footerContainer .footerContainerTop .footerLinkSectionOne li:hover {
  list-style: disc;
  text-decoration: underline;
  transition: all 0.5s ease-in;
}
.footerContainer .footerContainerTop .addressAndSocial {
  width: 400px;
}
.footerContainer .footerContainerTop .addressAndSocial .footerAddress {
  font-size: 25px;
  width: 80%;
}
.footerContainer .footerContainerTop .addressAndSocial .footerAdderessLoc {
  font-size: 12px;
  width: 50%;
}
.footerContainer .footerContainerTop .addressAndSocial .socialMediaContainer {
  margin-top: 8px;
  display: flex;
  list-style: none;
  width: 70%;
  padding: 0;
}
.footerContainer .footerContainerTop .addressAndSocial .socialMediaContainer li {
  padding: 0;
  margin-right: 8px;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footerContainer .footerContainerTop .addressAndSocial .socialMediaContainer li:hover {
  scale: 1.1;
  transition: all 0.5s ease-in-out;
}
.footerContainer .footerContainerBottom {
  background-color: #006D77;
  padding: 0 64px;
}
.footerContainer .footerContainerBottom .line {
  background-color: #ffffff;
  padding: 1px;
  margin-top: -32px;
}
.footerContainer .credsContainer {
  display: flex;
  justify-content: space-between;
}
.footerContainer .credsContainer .credLeft {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
}

.cursor, .hand, .clickHand {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s;
}

.cursor {
  background: #023684;
  top: 0;
  width: 15px;
  height: 15px;
  z-index: 10000;
}

.hand {
  display: grid;
  place-content: center;
  background-color: #ffffff;
  color: #023684;
  top: 50%;
  width: 80px;
  height: 80px;
  box-shadow: 1px 5px 10px #927fff;
  z-index: 10000;
  opacity: 0;
  font-family: "Fira Sans Condensed", sans-serif;
}

.clickHand {
  display: grid;
  place-content: center;
  background-color: #ffffff;
  color: #023684;
  top: 50%;
  width: 80px;
  height: 80px;
  z-index: 10000;
  opacity: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  border: 1px solid #023684;
}

@media (max-width: 900px) {
  .nav {
    flex-direction: column-reverse;
  }
  .nav-logo {
    display: none;
  }
  .nav-socials {
    flex-direction: row;
    margin-top: 4em;
  }
  .nav-socials a {
    padding: 0 0.4em;
  }
}/*# sourceMappingURL=main.css.map */